div > div.nav-top
{
	height:100%;
	margin:0 auto;
	padding:2px 0 0
}
div.nav-fix
{
	border:0;
	border-bottom:1px solid #ddd;
	height:40px;
	background:#f1f1f1;
	/*position:fixed;*/
	top:0;
	left:0;
	right:0
}

ul.mainMenu
{
	list-style:none;
	margin:0
}

ul.mainMenu li
{
	float:left
}

ul.mainMenu li.topNavLink a
{
	vertical-align:top;
	height:38px;
	min-width:20px;
	line-height:38px;
	padding:0 5px
}

ul.mainMenu li.tinyman:hover a,ul.mainMenu li.tinyman:focus a,ul.mainMenu li.tinyman:active a,ul.mainMenu li.topNavLink:hover,ul.mainMenu li.topNavLink:focus,ul.mainMenu li.topNavLink:active,ul.mainMenu li.topNavLink a:hover,ul.mainMenu li.topNavLink a:focus,ul.mainMenu li.topNavLink a:active
{
	background-color:#f5f5f5;
	color:#000
}

ul.mainMenu li.topNavLink.tinyman
{
	padding:0
}

.mainMenu .menuLogOut
{
	background-image:url(../images/icon-ui.png)!important;
	background-repeat:no-repeat!important
}

.mainMenu .menuLogOut
{
	background-position:0 -2px!important;
	height:36px;
	width:18px
}

ul.mainMenu li.topNavLink .headerTinymanName
{
	display:inline-block;
	max-width:175px;
	overflow:hidden;
	padding-right:8px;
	text-overflow:ellipsis;
	vertical-align:top;
	white-space:nowrap
}

ul.mainMenu li .img
{
	border:solid 1px #ddd;
	padding:1px;
	
	border-radius:2px;	
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	
	height:23px;
	width:23px;
	margin:5px 5px 3px 3px
}

.mainMenu li a
{
	display:block;
	font-weight:700;
	color:#666;
	text-decoration:none
}

.mainMenu li a:hover
{
	background:#fff;
	text-decoration:none
}

ul.mainMenuSub
{
	position:absolute;
	top:-1px;
	left:-1px;
	background:#FFF;
	border:1px solid #c4c4c4;
	border-bottom-width:2px;
	padding:4px 0
}

ul.mainMenuSub li
{
	width:223px;
	margin:0;
	padding:0;
}

ul.mainMenuSub li a
{
	border-top:1px solid #fff;
	border-bottom:1px solid #fff
}

ul.mainMenuSub li.seperator
{
	width:223px;
	display:block;
	overflow:visible
}

ul.mainMenuSub li.seperator div
{
	width:209px;
	height:1px;
	border-top:1px solid #ddd;
	margin:7px
}

ul.mainMenuSub li a:link
{
	height:10px;
	line-height:10px;
	display:block;
	font-weight:400;
	text-align:left;
	overflow:hidden;
	color:#333;
	text-decoration:none;
	padding:6px 4px 7px 22px
}

ul.mainMenuSub li a:hover
{
	height:10px;
	line-height:10px;
	background:#f1f1f1;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	color:#666;
	text-decoration:none;
	padding:6px 4px 7px 22px
}

ul.mainMenuSub li a img
{
	border:0
}